footer
    .footer
        .container
            .row.no-wrap.space-between
                .contacts
                    h2.block-title.block-title_yellow.block-title_cupitalize Контакты:
                    mixin contacts_item(title, href, text, addr)
                        if href == '' & text == ''
                            address.contacts__item.contacts__item_addres= title
                                span= addr
                        else if title === 'Телефон: '
                            p.contacts__item= title
                                span
                                    a.contacts__link.contacts__link_tdn(href=href)=text
                        else
                            p.contacts__item= title
                                span
                                    a.contacts__link(href=href)=text
                    +contacts_item('Телефон: ', 'tel: +78121234567', '+7 (812) 123-45-67')
                    +contacts_item('E-mail: ', 'mailto:mail@site.ru', 'mail@site.ru')
                    +contacts_item('Skype: ', 'skype:+78121234567?chat', 'skype for example')
                    +contacts_item('Адрес: ', '', '','123456, г. Москва, ул. Строителей, д. 3, кв. 12')
                .b-form
                    h2.block-title.block-title_yellow.block-title_cupitalize Напишите нам:
                    form.form(action="/" method="post")
                        input.form__item(type="emil" placeholder="E-mail")
                        textarea.form__item(rows="4"  name="text" placeholder="Введите свое сообщение...")
                        form__item.form__item_btn
                            button.btn(type="submit") отправить